{% extends 'inventory/base_layout.html' %}

{% block content %}
    <h1>Inventory List</h1>
    <div class="row">
        <div class="col-lg-8">
            <table id="inventory" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Supplier</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in inventory_items %}
                    <tr>
                        <td><a href="{% url 'inventory:detail' item.id %}">{{ item.name }}</a></td>
                        <td>{{ item.supplier.name }}</td>
                        {% if item.availability %}
                            <td>Yes</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}